
body {
  position: relative;
  padding: 0;
  margin: 0;
}
/*
url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png),
 url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png),
*/

#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: 
  url('/pictures/d20286174c8c8b16f4004cc2cdbe686e.jpg') ;
  background-repeat: no-repeat;
  background-position: center ;
  background-position: 50% 50%;
}

#planet {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: -10%;
  left: -10%;
  background-image: url('/pictures/planeta.png');
  background-repeat: no-repeat;
}
#korabl {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 20%;
  left: 20%;
  background-image: url('/pictures/korabl.png');
  background-repeat: no-repeat;
}


/* ================================================================ -->*/

.nav {
  position: absolute;
  display: block;
  width: 200px;
  height: 400px;
  right:5%;
}
.wrap {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 1500px;
  /* perspective-origin: 50% 50%; */
  perspective-origin: 50% 50%;

}

.cube {

  margin: auto;
  position: relative;
  height: 400px;
  width: 400px;
  padding: 20px;
  transform-style: preserve-3d;
 
}

.right, .left, .top, .bottom {
  position: absolute;
  box-sizing: border-box;
  /* padding: 10px; */
  height: 10%;
  width: 100%;
  /* background-color: rgb(109, 236, 147); */
  border: solid 7px rgb(109, 236, 147);
  border-radius: 0px;
  box-shadow:     0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa;
  /* 0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa; */
  color: #ffffff;

}


 .right {
  box-sizing: border-box;
  transform: rotateX(90deg) rotateY(-90deg) translateZ(0px);
  transform-origin: center right;
} 

.left {
  box-sizing: border-box;
  transform: rotateX(90deg) rotateY(90deg) translateX(0px);
  transform-origin: center left;
}

.top {
  box-sizing: border-box;
  transform: rotateX(90deg) translateZ(0px);
  transform-origin: center;
}

.bottom {
  box-sizing: border-box;
  transform: rotateX(90deg) translateZ(-440px);
  transform-origin: center;
} 


/* ================================================================ -->*/

.back{
  position: absolute;
  
  box-sizing: border-box;
  transform: translateZ(-23px) translateY(28px) translateX(10px);
  transform-origin: center;
    line-height: 0;
 
}
.picture{
  position: absolute;
  
  box-sizing: border-box;
  transform: translateZ(-24px) translateY(28px) translateX(10px);
  transform-origin: center;
    line-height: 0;
 
}
.front {
  position: absolute;
  transform-origin: center;
  box-sizing: border-box;
  transform: translateZ(23px) translateY(28px) translateX(10px);
    line-height: 0;
    /* border: solid #803a00 5.5px; */
    /* background-color: #ecd8c8; */
    /* box-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4); */
  
}

#D1, #D2, #D3, #D4, #D5, #D6, #D7, #D8, #D9, #D10, #D11, #D12, #D13, #D14, #D15, #D0 {
  box-sizing: border-box; 
  display: inline-block;
  width: 105px;
  height: 106px;
  text-align: center;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
   
}
#B1, #B2, #B3, #B4, #B5, #B6, #B7, #B8, #B9, #B10, #B11, #B12, #B13, #B14, #B15, #B0 {
  box-sizing: border-box; 
  display: inline-block;
  width: 105px;
  height: 106px;
  text-align: center;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
#P1, #P2, #P3, #P4, #P5, #P6, #P7, #P8, #P9, #P10, #P11, #P12, #P13, #P14, #P15, #P0 {
  box-sizing: border-box; 
  display: inline-block;
  width: 105px;
  height: 106px;
  text-align: center;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
#D1 {
  background-image: url('/pictures/tagF1.png');
}
#D2 {
  background-image: url('/pictures/tagF2.png');
}
#D3 {
  background-image: url('/pictures/tagF3.png');
}
#D4 {
  background-image: url('/pictures/tagF4.png');
}
#D5 {
  background-image: url('/pictures/tagF5.png');
}
#D6 {
  background-image: url('/pictures/tagF6.png');
}
#D7 {
  background-image: url('/pictures/tagF7.png');
}
#D8 {
  background-image: url('/pictures/tagF8.png');
}
#D9 {
  background-image: url('/pictures/tagF9.png');
}
#D10 {
  background-image: url('/pictures/tagF10.png');
}
#D11 {
  background-image: url('/pictures/tagF11.png');
}
#D12 {
  background-image: url('/pictures/tagF12.png');
}
#D13 {
  background-image: url('/pictures/tagF13.png');
}
#D14 {
  background-image: url('/pictures/tagF14.png');

}
#D15 {
  background-image: url('/pictures/tagF15.png');

}

/* #D0 {
  box-sizing: border-box;
  display: inline-block;
  width: 104px;
  height: 106px;
} */
#B1 {
  background-image: url('/pictures/tagB1.png');
}
#B2 {
  background-image: url('/pictures/tagB2.png');
}
#B3 {
  background-image: url('/pictures/proba.png');
}
#B4 {
  background-image: url('/pictures/tagB4.png');
}
#B5 {
  background-image: url('/pictures/tagB5.png');
}
#B6 {
  background-image: url('/pictures/tagB6.png');
}
#B7 {
  background-image: url('/pictures/tagB7.png');
}
#B8 {
  background-image: url('/pictures/tagB8.png');
}
#B9 {
  background-image: url('/pictures/tagB9.png');
}
#B10 {
  background-image: url('/pictures/tagB10.png');
}
#B11 {
  background-image: url('/pictures/tagB11.png');
}
#B12 {
  background-image: url('/pictures/tagB12.png');
}
#B13 {
  background-image: url('/pictures/tagB13.png');
}
#B14 {
  background-image: url('/pictures/tagB14.png');

}
#B15 {
  background-image: url('/pictures/tagB15.png');
}

#B0 {
  box-sizing: border-box;
  display: inline-block;
  width: 105px;
  height: 106px;
  background-color: rgb(221, 240, 249);
}
#P1 {
  background-image: url('/pictures/1.jpg');
}
#P2 {
  background-image: url('/pictures/2.jpg');
}
#P3 {
  background-image: url('/pictures/3.jpg');
}
#P4 {
  background-image: url('/pictures/4.jpg');
}
#P5 {
  background-image: url('/pictures/5.jpg');
}
#P6 {
  background-image: url('/pictures/6.jpg');
}
#P7 {
  background-image: url('/pictures/7.jpg');
}
#P8 {
  background-image: url('/pictures/8.jpg');
}
#P9 {
  background-image: url('/pictures/9.jpg');
}
#P10 {
  background-image: url('/pictures/10.jpg');
}
#P11 {
  background-image: url('/pictures/11.jpg');
}
#P12 {
  background-image: url('/pictures/12.jpg');
}
#P13 {
  background-image: url('/pictures/13.jpg');
}
#P14 {
  background-image: url('/pictures/14.jpg');

}
#P15 {
  background-image: url('/pictures/15.jpg');
}

#P0 {
  background-image: url('/pictures/16.jpg');
}
