
body {
  position: relative;
  padding: 0;
  margin: 0;
}

/* ================================================================ -->*/
.wrap {
  margin-top: 250px;
  perspective: 1500px;
  /* perspective-origin: 50% 50%; */
  perspective-origin: 50% 50%;

}

.cube {

  margin: auto;
  position: relative;
  height: 400px;
  width: 400px;
  padding: 20px;
  transform-style: preserve-3d;
 
}

.right, .left, .top, .bottom {
  position: absolute;
  box-sizing: border-box;
  /* padding: 10px; */
  height: 10%;
  width: 100%;
  /* background-color: rgb(109, 236, 147); */
  border: solid 7px rgb(109, 236, 147);
  border-radius: 0px;
  box-shadow:     0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa;
  /* 0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa; */
  color: #ffffff;

}


 .right {
  box-sizing: border-box;
  transform: rotateX(90deg) rotateY(-90deg) translateZ(0px);
  transform-origin: center right;
} 

.left {
  box-sizing: border-box;
  transform: rotateX(90deg) rotateY(90deg) translateX(0px);
  transform-origin: center left;
}

.top {
  box-sizing: border-box;
  transform: rotateX(90deg) translateZ(0px);
  transform-origin: center;
}

.bottom {
  box-sizing: border-box;
  transform: rotateX(90deg) translateZ(-440px);
  transform-origin: center;
} 


/* ================================================================ -->*/

.back{
  position: absolute;
  
  box-sizing: border-box;
  transform: translateZ(-23px) translateY(28px) translateX(10px);
  transform-origin: center;
  /* transform: translateZ(-23px) translateY(28px) translateX(10px); */
    line-height: 0;
   /* position: absolute; 
  transform: translateY(-92px) rotateY(180deg) translateZ(5px);
  transform-origin: center top;
  width: 100px;
  height: 100px;
  background-image: url('/pictures/html.png');
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover; */
}
.front {
  position: absolute;
  transform-origin: center;
  box-sizing: border-box;
  transform: translateZ(23px) translateY(28px) translateX(10px);
    line-height: 0;
    /* border: solid #803a00 5.5px; */
    /* background-color: #ecd8c8; */
    /* box-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4); */
  
}

#D1, #D2, #D3, #D4, #D5, #D6, #D7, #D8, #D9, #D10, #D11, #D12, #D13, #D14, #D15, #D0 {
  box-sizing: border-box; 
  display: inline-block;
  width: 104px;
  height: 106px;
  text-align: center;
   /* border: solid #cd6165 4px; */
  /* background-color: #acd7bc;  */
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  /* border: solid 3px rgb(24, 70, 56); */
  /* border: solid 3px rgb(69, 235, 119);
  border-radius: 0px;
  box-shadow:     0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa; */
  /* 0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa; */
  /* color: #ffffff;
  border-radius: 20%;
  margin: 2.5px;*/
  padding: 2px; 
}
#B1, #B2, #B3, #B4, #B5, #B6, #B7, #B8, #B9, #B10, #B11, #B12, #B13, #B14, #B15, #B0 {
  box-sizing: border-box; 
  display: inline-block;
  width: 104px;
  height: 106px;
  text-align: center;
   /* border: solid #cd6165 4px; */
  /* background-color: #acd7bc;  */
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  /* border: solid 3px rgb(24, 70, 56); */
  /* border: solid 3px rgb(69, 235, 119);
  border-radius: 0px;
  box-shadow:     0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa; */
  /* 0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa; */
  /* color: #ffffff;
  border-radius: 20%;
  margin: 2.5px;
  padding: 2px; */
}
#D1 {
  background-image: url('/pictures/tagF1.png');
}
#D2 {
  background-image: url('/pictures/tagF2.png');
}
#D3 {
  background-image: url('/pictures/tagF3.png');
}
#D4 {
  background-image: url('/pictures/tagF4.png');
}
#D5 {
  background-image: url('/pictures/tagF5.png');
}
#D6 {
  background-image: url('/pictures/tagF6.png');
}
#D7 {
  background-image: url('/pictures/tagF7.png');
}
#D8 {
  background-image: url('/pictures/tagF8.png');
}
#D9 {
  background-image: url('/pictures/tagF9.png');
}
#D10 {
  background-image: url('/pictures/tagF10.png');
}
#D11 {
  background-image: url('/pictures/tagF11.png');
}
#D12 {
  background-image: url('/pictures/tagF12.png');
}
#D13 {
  background-image: url('/pictures/tagF13.png');
}
#D14 {
  background-image: url('/pictures/tagF14.png');

}
#D15 {
  background-image: url('/pictures/tagF15.png');

}

#D0 {
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  height: 100px;
  /* border: solid #cd6165 2px; */
  /* background-color: #ecd8c8; */
}
#B1 {
  background-image: url('/pictures/tagB1.png');
}
#B2 {
  background-image: url('/pictures/tagB2.png');
}
#B3 {
  background-image: url('/pictures/proba.png');
}
#B4 {
  background-image: url('/pictures/tagB4.png');
}
#B5 {
  background-image: url('/pictures/tagB5.png');
}
#B6 {
  background-image: url('/pictures/tagB6.png');
}
#B7 {
  background-image: url('/pictures/tagB7.png');
}
#B8 {
  background-image: url('/pictures/tagB8.png');
}
#B9 {
  background-image: url('/pictures/tagB9.png');
}
#B10 {
  background-image: url('/pictures/tagB10.png');
}
#B11 {
  background-image: url('/pictures/tagB11.png');
}
#B12 {
  background-image: url('/pictures/tagB12.png');
}
#B13 {
  background-image: url('/pictures/tagB13.png');
}
#B14 {
  background-image: url('/pictures/tagB14.png');

}
#B15 {
  background-image: url('/pictures/tagB15.png');

}

#B0 {
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  height: 100px;
  /* border: solid #cd6165 2px; */
  /* background-color: #ecd8c8; */
}
